@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #48c6b7;
  --primary-color-dark: #3ca99c;
  --text-dark: #1f2937;
  --text-light: #e5e7eb;
  --extra-light: #f4f6f6;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.container__left {
  background: url("assets/background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container__right {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--extra-light);
}

.content {
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
  margin-bottom: 3rem;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.header__content p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-dark);
}

.header__content p a {
  text-decoration: none;
  color: var(--primary-color);
}

form {
  display: grid;
  gap: 1.5rem;
}

form input {
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-light);
  background-color: var(--white);
  outline: none;
  border: 2px solid var(--text-light);
}

form button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: var(--primary-color-dark);
}

.logged__in {
  text-align: left;
  font-size: 0.9rem;
  color: var(--text-dark);
}

.forget__password {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 3rem;
  cursor: pointer;
}

.social__login__header {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.social__login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.social__login:hover {
  background-color: var(--white);
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social__login i {
  font-size: 1.25rem;
  color: var(--white);
  transition: 0.3s;
}

.social__login span {
  font-size: 1rem;
  color: var(--white);
  transition: 0.3s;
}

.social__login:hover span {
  color: var(--text-dark);
}

.google__login {
  background-color: #d5613b;
}

.google__login:hover i {
  color: #d5613b;
}

.twitter__login {
  background-color: #25b6e7;
}

.twitter__login:hover i {
  color: #25b6e7;
}

.facebook__login {
  background-color: #325594;
}

.facebook__login:hover i {
  color: #325594;
}

.footer__bar {
  font-size: 0.9rem;
  color: var(--text-dark);
}

@media (width < 750px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .container__left {
    min-height: 500px;
  }
}
